[submodule "mp3_data_reader"]
	path = mp3_data_reader
	url = https://github.com/tsatsulya/mp3_data_reader
[submodule "flac_data_reader"]
	path = flac_data_reader
	url = https://github.com/tsatsulya/flac_data_reader
[submodule "audio_data_decoder"]
	path = audio_data_decoder
	url = https://github.com/tsatsulya/audio_data_decoder
